.form-panel {
   width: 40vw;
   background-color: #fff;
   .button-wrapper {
      display: flex;
   }
}

.inputs-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px 30px;;

   & > * {
      width: 100%;
   }

   .bundled-inputs {
      display: flex;
      justify-content: space-between;
      
      & > * {
         width: 45%;
      }
   }

   textarea {
      width: 100%;
      height: calc(100% - 25px);
      box-sizing: border-box;
      border: 1px solid #000;
      border-radius: 4px;
   }

   .text-area{ 
      grid-row: span 2;
   }
}

section {
   padding: 30px;

   h3 {
      font-size: 32px;
      margin: 0 0 8px;
      font-weight: 800;
   }

   p {
      font-size: 18px;
      margin: 0 0 8px;
   }

   input {
   }
}

.active {
   display: block;
}